.myBtn
{
    /*cursor: pointer;*/
    /*margin: 50px 90px;*/
    position: relative;
    left: -5px;
    transition: 0.5s ease;
    z-index: 3;
}

.myBtn:hover
{
    transition: 0.5s;
    opacity: 0.7;
}

.myBtn:active
{
    transition: 0.5s;
    opacity: 0.4;
}

nav
{
    background-color: #6c7d96;
    width: 250px;
    position: relative;
    left: -255px;
    transition: 0.5s ease;
    z-index: 2;
    top: -162px;
}

nav ul li
{
    text-align: center;
    transition: 0.2s;
}

nav ul li:hover
{
    cursor: pointer;
    background-color: #454954;
    transition: 0.2s;
}

nav ul li:active
{
    background-color: #23252b;
    transition: 0.2s;
}

nav ul li a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
}